.divSpin {

  background:red;
      border-radius: 50%;
    behavior: url(PIE.htc);
     width: 100px;
    height: 100px;
    background: blue;
    border: 3px solid black;
}


.divSpin.animated {
  animation:spin 7s cubic-bezier(.9,.1,0,1) 0s normal forwards;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(14400deg);
  }
}

.mainDiv{
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -40px;
    margin-left: -50px;
    width: 400px;
    height: 400px;
}​

/*#container {
	text-align: center;
}
 
canvas {
	position: relative;
	display: block;
	width: 800px;
	height: 400px;
	margin: 0px;
}*/